.box1 {
  width: 250px;
  margin: 0 auto;
  border: 1px solid var(--textColor);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}

.cart-item-container {
  width: 70px;
  height: 70px;
}
.cart-image-cropper-container {
  width: 70px;
  height: 70px;
  /* position: relative; */
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--textColor);
}

.cart-cropped-image {
  /* display: inline; */
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* position: absolute; */
}

.order-amount {
  z-index: 1000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-color: var(--backgroundColor);
  border: 2px solid var(--accentGreen);
  border-radius: 50%;
  padding: 0;
}

.kami-duck {
  width: 60px;
}

.heading-border {
  border-bottom: 1px solid var(--textColor);
}

.order-amount-number {
  align-self: center;
}

.protein-container {
  background-color: var(--backgroundDarker);
  border-radius: 10px;
  height: 120px;
}

.checkoutBtn {
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;
  align-items: center;
  height: 40px;
  color: var(--backgroundColor);
  background-color: var(--textColor);
}
